<div class="flex flex-col w-full">
    <ng-container>
        <div class="relative flex flex-col flex-auto items-center px-6 sm:px-12">
            <div class="w-full max-w-5xl">
                <form [formGroup]="courseForm"
                    class="flex flex-col mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden">
                    <div class="flex">
                        <mat-form-field class="flex-auto">
                            <mat-label>Course Name</mat-label>
                            <input matInput appAutofocus [formControlName]="'courseName'" [placeholder]="'Course Name'">
                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:book-open'"></mat-icon>
                        </mat-form-field>
                    </div>
                    <!--Technologdrop-->
                    <div class="flex">
                        <mat-form-field class="flex-auto gt-xs:pr-3">
                            <mat-label>Technology</mat-label>
                            <mat-select name="technologyId" placeholder="Technology" [formControlName]="'technologyId'"
                                class="input-full-width">
                                <mat-option value="">Select Technology</mat-option>
                                <mat-option *ngFor="let tech of technology " [value]="tech.technologyId">{{
                                    tech.technologyName }}</mat-option>
                            </mat-select>
                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:academic-cap'">
                            </mat-icon>
                        </mat-form-field>
                        <!-- <mat-form-field class="flex-auto gt-xs:pr-3">
                                <mat-label>Technology</mat-label>
                                <mat-select *ngFor="let tech of technology" [placeholder]="'Technology'" [formControlName]="'technologyId'">
                                    <mat-option value="">Select Role Type</mat-option>
                                    <mat-option [value]="tech.technologyId">{{tech.technologyName}}</mat-option>
                                </mat-select>
                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user'">
                                </mat-icon>
                            </mat-form-field> -->
                        <!-- <mat-form-field class="flex-auto">
                                <mat-label>Technology</mat-label>
                                <input
                                    matInput appAutofocus
                                    [formControlName]="'Technology'"
                                    [placeholder]="'Enter Technology'" >
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:office-building'"></mat-icon>
                            </mat-form-field> -->
                    </div>
                    <!--Technologdrop-->
                    <div class="flex-auto">
                        <mat-label>Description</mat-label>
                        <!-- <div class="flex"> -->
                        <!-- <mat-form-field class="flex-auto"> -->
                        <quill-editor [formControlName]="'Description'" [modules]="quillModules">
                        </quill-editor>
                        <!-- </mat-form-field> -->
                        <!-- <mat-form-field class="flex-auto">
                                <mat-label>Description</mat-label>
                                <input matInput [formControlName]="'Description'" [placeholder]="'Description'">
                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:menu-alt-1'"></mat-icon>
                            </mat-form-field> -->
                        <!-- </div> -->
                    </div>
                    <!--Technologdrop-->
                    <div class="flex mt-4">
                        <mat-form-field class="flex-auto">
                            <mat-label>Title</mat-label>
                            <input matInput [formControlName]="'Title'" [placeholder]="'Title'">
                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:document-text'">
                            </mat-icon>
                        </mat-form-field>
                    </div>
                    <!--Technologdrop-->
                    <div class="flex">
                        <mat-form-field class="flex-auto">
                            <mat-label>Duration (in Days)</mat-label>
                            <input matInput [formControlName]="'Duration'" [placeholder]="'Duration (in Days)'">
                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:calendar'"></mat-icon>
                        </mat-form-field>
                        <mat-form-field class="flex-auto gt-xs:pr-3">
                            <mat-label>Units</mat-label>
                            <mat-select  [formControlName]="'units'">
                                <mat-option value="Days">Days</mat-option>
                                <mat-option value="Hours">Hours</mat-option>
                                <mat-option value="Minutes">Minutes</mat-option>

                            </mat-select>
                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:cog'">
                            </mat-icon>
                        </mat-form-field>
                    </div>
                    <!--Technologdrop-->
                    <div class="flex">
                        <mat-form-field class="flex-auto">
                            <mat-label>Fees</mat-label>
                            <input matInput [formControlName]="'Fees'" [placeholder]="'Fees'">
                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:cash'"></mat-icon>
                        </mat-form-field>
                    </div>
                    <!-- Image Add remove -->
                    <div class="flex">
                        <!-- <div class="absolute inset-0 bg-black bg-opacity-50 z-10"></div>  -->
                        <!-- <div class="absolute inset-0 flex items-center justify-center z-20"> -->
                        <div>
                            <!-- Actions -->
                            <div class="mt-4 sm:mt-0">
                                <!-- Upload button -->
                                <button mat-flat-button [color]="'primary'"
                                    onclick="document.getElementById('txtfileupload').click()">
                                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                                    <span class="ml-1 mr-0">Upload file</span>

                                    <!-- <input type="file" class="form-control" accept=".jpg, .png, .jpeg "
                                        id="txtfileupload" name="fileupload"
                                        (change)="onSelectFile($event.target.files)"> -->

                                </button>
                                <span class="ml-1 mr-0">{{name}}</span>
                                <!-- <img style="width: 30%;  border: 1px solid #555" src="{{fileToUpload}}"> -->
                                <!-- <button style="display:block;width:120px; height:30px;"
                                    onclick="document.getElementById('getFile').click()">Your text here</button> -->


                                <input type='file' class="form-control" accept=".jpg, .png, .jpeg " id="txtfileupload"
                                    name="fileupload" (change)="onSelectFile($event.target.files)" style="display:none">
                                <!-- <input type="file" class="form-control" accept=".jpg, .png, .jpeg " 
                                    id="txtfileupload"  name="fileupload" 
                                    (change)="onSelectFile($event.target.files)"> -->
                            </div>

                            <!-- <div class="col-sm-4"> -->

                            <!-- </div> -->
                            <!-- <input
                                    id="avatar-file-input"
                                    class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                    type="file"
                                    [multiple]="false"
                                    [accept]="'image/jpeg, image/png'"
                                    (change)="onSelectFile($event.target.files)"
                                    #avatarFileInput> -->
                            <!-- <label
                                    class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                                    for="avatar-file-input"
                                    matRipple>
                                    <mat-icon
                                        class="text-white"
                                        [svgIcon]="'heroicons_outline:camera'"></mat-icon>
                                </label> -->
                        </div>
                        <!-- <div>
                                <button
                                    mat-icon-button
                                    (click)="removeAvatar()">
                                    <mat-icon
                                        class="text-white"
                                        [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                </button>
                            </div> -->
                        <!-- </div> -->
                    </div>
                    <!-- Active Toggle -->
                    <!-- <div class="flex">
                        <div class="space-y-4">
                            <ng-container>
                                <div class="flex">
                                    <div class="fuse-mat-no-subscript flex-auto">
                                        <mat-slide-toggle class="mt-8 sm:mt-0 sm:ml-auto" [color]="'primary'"
                                        id="userchkactive" (change)="toggleCompleted($event)" [checked]="true">
                                            IsActive
                                        </mat-slide-toggle>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div> -->

                    <!-- Alert -->
                    <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false"
                        [type]="alert.type" [@shake]="alert.type === 'success'">
                        {{alert.message}}
                    </fuse-alert>

                    <div
                        class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
                        <!-- Cancel -->
                        <button class="ml-auto" mat-button [matTooltip]="'Cancel'" (click)="cancel()">
                            Cancel
                        </button>
                        <!--Save-->
                        <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="AddCourse()">
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </ng-container>
</div>