table{
    width: 100%;
   }
   
   .mat-column-sno {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 10% !important;
     width: 15% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }

   .mat-column-sorting {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width:10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

//   .mat-column-ModuleName {
//     word-wrap: break-word !important;
//     white-space: unset !important;
//     flex: 0 0 10% !important;
//     width:40% !important;
//     overflow-wrap: break-word;
//     word-wrap: break-word;
  
//     word-break: break-word;
  
//     -ms-hyphens: auto;
//     -moz-hyphens: auto;
//     -webkit-hyphens: auto;
//     hyphens: auto;
//   }