<div class="flex flex-col w-full">
    <!-- Add mode -->
    <ng-container>


        <!-- Contact form -->
        <div class="relative flex flex-col flex-auto items-center px-6 sm:px-12">
            <div class="w-full max-w-3xl">
                <form [formGroup]="contactForm">

                    <!-- First Name -->
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>First Name</mat-label>
                            <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            <input matInput appAutofocus [formControlName]="'firstname'" [placeholder]="' First Name'"
                                [spellcheck]="false">
                        </mat-form-field>
                    </div>

                    <!-- Last Name -->
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Last Name</mat-label>
                            <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            <input matInput [formControlName]="'lastname'" [placeholder]="'Last Name'"
                                [spellcheck]="false">
                        </mat-form-field>
                    </div>
                    <!-- Password -->
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Password</mat-label>
                            <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                            <input matInput [formControlName]="'password'" [placeholder]="'Password'">
                        </mat-form-field>
                    </div>

                    <!--Gender-->
                    <div class="flex flex-col gt-xs:flex-row mt-8">
                        <mat-form-field  class="flex-auto gt-xs:pr-3">
                            <mat-label>Gender</mat-label>
                            <mat-select [placeholder]="'Gender'" [formControlName]="'gender'">
                                <mat-option value="">Select Gender</mat-option>
                                <mat-option value="M">Male</mat-option>
                                <mat-option value="F">Female</mat-option>
                            </mat-select>
                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user-circle'">
                            </mat-icon>
                        </mat-form-field>
                    </div>
                    <!-- Phone numbers -->

                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Phone No</mat-label>
                            <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:phone'"></mat-icon>
                            <input matInput [formControlName]="'phoneNumber'" [placeholder]="'phone Number'">
                        </mat-form-field>
                    </div>
                    <!--alternatePhone-->
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Alternate Phone No</mat-label>
                            <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:phone'"></mat-icon>
                            <input matInput [formControlName]="'alternatephoneNumber'" [placeholder]="'Alternate Phone Number'">
                        </mat-form-field>
                    </div>


                    <!-- Phone numbers -->
                    <!-- <div class="mt-8">
                        <div class="space-y-4">
                            <ng-container
                                *ngFor="let phoneNumber of contactForm.get('phoneNumbers')['controls']; let i = index; let first = first; let last = last; trackBy: trackByFn">
                                <div class="relative flex">
                                    <mat-form-field class="fuse-mat-no-subscript flex-auto">
                                        <mat-label *ngIf="first">Mobile Number</mat-label>
                                        <input matInput [formControl]="phoneNumber.get('phoneNumber')"
                                            [placeholder]="'Phone'">
                                        <mat-select class="mr-1.5" [formControl]="phoneNumber.get('country')" matPrefix>
                                            <mat-select-trigger>
                                                <span class="flex items-center">
                                                    <span class="hidden sm:flex w-6 h-4 mr-1 overflow-hidden"
                                                        [style.background]="'url(\'/assets/images/flags/flags.png\') no-repeat 0 0'"
                                                        [style.backgroundSize]="'24px 3876px'"
                                                        [style.backgroundPosition]="getCountryByIso(phoneNumber.get('country').value).flagImagePos"></span>
                                                    <span
                                                        class="sm:mx-0.5 font-medium text-default">{{getCountryByIso(phoneNumber.get('country').value).code}}</span>
                                                </span>
                                            </mat-select-trigger>
                                            <ng-container *ngFor="let country of countries; trackBy: trackByFn">
                                                <mat-option [value]="country.iso">
                                                    <span class="flex items-center">
                                                        <span class="w-6 h-4 overflow-hidden"
                                                            [style.background]="'url(\'/assets/images/flags/flags.png\') no-repeat 0 0'"
                                                            [style.backgroundSize]="'24px 3876px'"
                                                            [style.backgroundPosition]="country.flagImagePos"></span>
                                                        <span class="ml-2">{{country.name}}</span>
                                                        <span class="ml-2 font-medium">{{country.code}}</span>
                                                    </span>
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </ng-container>
                        </div>
                    </div> -->

                    <!--Altenate Phone number -->
                    <!-- <div class="mt-8">
                        <div class="space-y-4">
                            <ng-container
                                *ngFor="let phoneNumber of contactForm.get('phoneNumbers')['controls']; let i = index; let first = first; let last = last; trackBy: trackByFn">
                                <div class="relative flex">
                                    <mat-form-field class="fuse-mat-no-subscript flex-auto">
                                        <mat-label *ngIf="first">Alternate MobileNumber</mat-label>
                                        <input matInput [formControlName]="'alternatephoneNumber'"
                                            [placeholder]="'alternatePhone'">
                                        <mat-select class="mr-1.5" [formControl]="phoneNumber.get('country')" matPrefix>
                                            <mat-select-trigger>
                                                <span class="flex items-center">
                                                    <span class="hidden sm:flex w-6 h-4 mr-1 overflow-hidden"
                                                        [style.background]="'url(\'/assets/images/apps/contacts/flags.png\') no-repeat 0 0'"
                                                        [style.backgroundSize]="'24px 3876px'"
                                                        [style.backgroundPosition]="getCountryByIso(phoneNumber.get('country').value).flagImagePos"></span>
                                                    <span
                                                        class="sm:mx-0.5 font-medium text-default">{{getCountryByIso(phoneNumber.get('country').value).code}}</span>
                                                </span>
                                            </mat-select-trigger>
                                            <ng-container *ngFor="let country of test; trackBy: trackByFn">
                                                <mat-option [value]="country.id">
                                                    <span class="flex items-center">
                                                        <span class="w-6 h-4 overflow-hidden"
                                                            [style.background]="'url(\'/assets/images/apps/contacts/flags.png\') no-repeat 0 0'"
                                                            [style.backgroundSize]="'24px 3876px'"
                                                            [style.backgroundPosition]="country.flagImagePos"></span>
                                                        <span class="ml-2">{{country.name}}</span>
                                                        <span class="ml-2 font-medium">{{country.code}}</span>
                                                    </span>
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </ng-container>
                        </div>
                    </div> -->

                    <!-- Emails -->
                    <div class="mt-8">
                        <div class="space-y-4">
                            <ng-container>
                                <div class="flex">
                                    <mat-form-field class="fuse-mat-no-subscript flex-auto">
                                        <mat-label>Email</mat-label>
                                        <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                            [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                                        <input matInput [formControlName]="'email'"
                                            [placeholder]="'Email address'" [spellcheck]="false">
                                    </mat-form-field>
                                </div>
                            </ng-container>
                        </div>
                    </div>

                    <!--Alternate Email -->
                    <div class="mt-8">
                        <div class="space-y-4">
                            <ng-container>
                                <div class="flex">
                                    <mat-form-field class="fuse-mat-no-subscript flex-auto">
                                        <mat-label>Alternate Email</mat-label>
                                        <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                            [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                                        <input matInput [formControlName]="'alternateemail'"
                                            [placeholder]="'Alternate Email address'" [spellcheck]="false">
                                    </mat-form-field>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <!-- <div class="mt-8">
                        <div class="space-y-4">
                            <ng-container>
                                <div class="flex">
                                    <mat-form-field class="fuse-mat-no-subscript flex-auto">
                                        <mat-label *ngIf="first">Alternate Email</mat-label>
                                        <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                            [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                                        <input matInput  [formControlName]="'alternateemail'" 
                                            [placeholder]="'Alternate Email address'" [spellcheck]="false">
                                    </mat-form-field>
                                </div>
                            </ng-container>
                        </div>
                    </div> -->



                    <!-- Address -->
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Address</mat-label>
                            <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                            <input matInput [formControlName]="'address'" [placeholder]="'Address'">
                        </mat-form-field>
                    </div>



                    <!-- Person Type-->
                    <div class="flex flex-col gt-xs:flex-row mt-8">
                        <mat-form-field class="flex-auto gt-xs:pr-3">
                            <mat-label>Role Type</mat-label>
                            <mat-select [placeholder]="'Select RoleType'" [formControlName]="'roleId'">
                                <mat-option value="">Select Role Type</mat-option>
                                <mat-option value="1">Instructor</mat-option>
                                <!-- <mat-option value="2">Student</mat-option> -->
                                <mat-option value="3">Employee</mat-option>

                            </mat-select>
                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:cog'">
                            </mat-icon>
                        </mat-form-field>
                    </div>
                    <!-- Active Toggle -->
                    <div class="mt-8">
                        <div class="space-y-4">
                            <ng-container>
                                <div class="flex">
                                    <div class="fuse-mat-no-subscript flex-auto">
                                        <mat-slide-toggle class="mt-8 sm:mt-0 sm:ml-auto" [color]="'primary'"
                                        id="userchkactive" (change)="toggleCompleted($event)" [checked]="true">
                                            IsActive
                                        </mat-slide-toggle>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>

                    <!-- Notes -->
                    <!-- <div class="mt-8">
                        <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                            <mat-label>Notes</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:menu-alt-2'"></mat-icon>
                            <textarea
                                matInput
                                [formControlName]="'notes'"
                                [placeholder]="'Notes'"
                                [rows]="5"
                                [spellcheck]="false"
                                matTextareaAutosize></textarea>
                        </mat-form-field>
                    </div> -->
                    <!-- Actions -->
                    <div
                        class="flex items-center mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent">
                        <!-- Delete -->
                        <!-- <button mat-button [color]="'warn'" [matTooltip]="'Delete'" (click)="deleteContact()">
                            Delete
                        </button> -->
                        <!-- Cancel -->
                        <button class="ml-auto" mat-button [matTooltip]="'Cancel'" (click)="cancel()">
                            Cancel
                        </button>
                        <!-- Save -->
                        <button class="ml-auto " mat-flat-button [color]="'primary'" [matTooltip]="'Save'"
                            (click)="AddUser()">
                            Save
                        </button>
                    </div>

                </form>
                <!-- Alert -->
                <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false"
                [type]="alert.type" [@shake]="alert.type === 'success'">
                {{alert.message}}
            </fuse-alert>
            </div>
        </div>
    </ng-container>
</div>