<div class="flex flex-col w-full">
    <ng-container>
        <div class="relative flex flex-col flex-auto items-center px-6 sm:px-12">
            <div class="w-full max-w-5xl">
                <mat-stepper [linear]="isLinear" #stepper (selectionChange)="selectionChange($event)">
                    <mat-step label="Step 1" [stepControl]="firstFormGroup" >
                      <form  [formGroup]="firstFormGroup">
                        <ng-template matStepLabel><p (click)="GoToCoursePage()">Course</p></ng-template>
                      
                      </form>
                    </mat-step>
                    <mat-step label="Step 2" [stepControl]="secondFormGroup">
                        <form [formGroup]="secondFormGroup">
                            <ng-template matStepLabel ><p (click)="GoToModulesPage()">Module</p></ng-template>
                        </form>
                    </mat-step>
                    <mat-step label="Step 3" [stepControl]="thirdFormGroup">
                        <form [formGroup]="thirdFormGroup" >
                            <ng-template matStepLabel ><p (click)="GoToPage()">Chapter</p></ng-template>
                        </form>
                    </mat-step>
                    <mat-step label="Step 4" [stepControl]="QuestionsForm">
                    <form [formGroup]="QuestionsForm">                        
                        <ng-template matStepLabel>FAQ</ng-template>
                        
                      <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto ">
    
                        <div class="example-container mat-elevation-z8">
    
                            <mat-table [dataSource]="dataSource" matSort>
                
                              <!-- ID Column -->
                              <ng-container matColumnDef="sno">
                                <mat-header-cell *matHeaderCellDef> SNO. </mat-header-cell>
                                <mat-cell *matCellDef="let row; let i=index">
                                  {{ (i+1)  }}</mat-cell>
                              </ng-container>
                         
                              <ng-container matColumnDef="sorting">
                                <mat-header-cell *matHeaderCellDef >Sort </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                  <a (click)="OnClickUp(row.orderId)"><mat-icon class="icon-size-4 " [svgIcon]="'heroicons_solid:arrow-narrow-up'">
                                  </mat-icon>
                                  </a>
                                  <a (click)="OnClickDown(row.orderId)"><mat-icon class="icon-size-4 " [svgIcon]="'heroicons_solid:arrow-narrow-down'">
                                  </mat-icon>
                                  </a>
                                  </mat-cell>
                              </ng-container>  

                              <!-- Name Column -->
                              <ng-container matColumnDef="question">
                                <mat-header-cell *matHeaderCellDef > Question </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.question}} </mat-cell>
                              </ng-container>          
                              <!-- <ng-container matColumnDef="duration">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Duration </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.duration}} </mat-cell>
                              </ng-container> -->
                              <!-- <ng-container matColumnDef="fees">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Fees </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.fees}} </mat-cell>
                              </ng-container> -->
                              <ng-container matColumnDef="actions">
                                <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                  <div>
                                    <!-- <a class="min-w-10 min-h-7 h-7 px-2 leading-6" mat-stroked-button
                                      (click)="showViewModal(row.courseId)">
                                      <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye'">
                                      </mat-icon>
                                    </a> -->
                                    <a class="min-w-10 min-h-7 h-7 px-2 leading-6" mat-stroked-button
                                      (click)="EditFromGrid(row.faqId,'editcontent')">
                                      <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:pencil'">
                                      </mat-icon>
                                    </a>
                                    <a class="min-w-10 min-h-7 h-7 px-2 leading-6" mat-stroked-button
                                      (click)="deleteFromGrid(row.faqId)">
                                      <mat-icon class="icon-size-5 " [svgIcon]="'heroicons_solid:trash'">
                                      </mat-icon>
                                    </a>
                                  </div>
                                </mat-cell>
                              </ng-container>
                
                              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                              <mat-row *matRowDef="let row; columns: displayedColumns;">
                              </mat-row>
                            </mat-table>
                
                            <!-- <mat-paginator #myPaginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"
                              aria-label="Select page of users"></mat-paginator> -->
                          </div>
                        </div>
                        <div class="flex">
                            <mat-form-field class="flex-auto">
                                <mat-label>Course Name</mat-label>
                                <input matInput appAutofocus [formControlName]="'courseName'"
                                    [placeholder]="'Enter Course Name'" readonly>
                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:book-open'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex">
                            <mat-form-field class="flex-auto">
                                <mat-label>Question</mat-label>
                                <input matInput appAutofocus [formControlName]="'question'"
                                    [placeholder]="'Enter Question'" >
                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:book-open'"></mat-icon>
                            </mat-form-field>
                        </div>
                         <!--Description-->
                         <div class="flex-auto mt-4">
                            <mat-label>Answer</mat-label>
                            <quill-editor [formControlName]="'answer'" [modules]="quillModules">
                            </quill-editor>
                        </div>
      
                         <!-- Alert -->
                        <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false"
                            [type]="alert.type" [@shake]="alert.type === 'success'">
                            {{alert.message}}
                        </fuse-alert>
    
                        <div
                            class="flex items-center justify-end  -mx-8 mt-4 px-8 py-5 bg-card shadow rounded overflow-hidden">
                            <!-- Cancel -->
                            <button class="ml-auto" mat-flat-button [color]="'primary'" [matTooltip]="'Cancel'" (click)="cancel()">
                              Cancel
                          </button>
                            <button class="px-6 ml-3" mat-flat-button [color]="'primary'" [matTooltip]="'Clear'" (click)="clear()"*ngIf="Clear">
                                Clear
                            </button>
                              <!--Save-->
                              <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="SaveQuestions('Save')" *ngIf="Save">
                                  Save
                              </button>
                            <!--update-->
                            <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="Update('Update')" *ngIf="update">
                                Update
                            </button>
                            <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="SaveQuestions('SaveNext')" *ngIf="Save">
                               Next
                          </button>
                          <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="Update('UpdateNext')" *ngIf="update">
                             Next
                        </button>
                        </div>
                    </form>
                    </mat-step >
                    <mat-step label="Step 5" [stepControl]="fourthFormGroup">
                        <form [formGroup]="fourthFormGroup">
                            <ng-template matStepLabel><p (click)="GoToReviews()">Reviews</p></ng-template>
                        </form>
                 
                    </mat-step>
                    <!-- <mat-step label="Step 6">
                      <ng-template matStepLabel><p (click)="GoToSubscriptions()">Subscriptions</p></ng-template>
                    
                    </mat-step> -->
                  </mat-stepper> 
            </div>
        </div>
    </ng-container>
</div>