

<div class="flex flex-col w-full">
    <ng-container>
        <div class="relative flex flex-col flex-auto items-center px-6 sm:px-12">
            <div class="w-full max-w-5xl">
                <!-- Alert -->
                <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false"
                    [type]="alert.type" [@shake]="alert.type === 'success'">
                    {{alert.message}}
                </fuse-alert>
                 <form [formGroup]="techForm" class="flex flex-col mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden">
                    
                        <div class="flex">
                            <mat-form-field class="flex-auto">
                                <mat-label>Technology Name</mat-label>
                                <input
                                    matInput
                                    [formControlName]="'technologyName'"
                                    [placeholder]="'Enter Technology Name'" >
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:academic-cap'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <!-- Image Add remove -->
                        <div class="flex">
                            <!-- <div class="absolute inset-0 bg-black bg-opacity-50 z-10"></div>  -->
                        <!-- <div class="absolute inset-0 flex items-center justify-center z-20"> -->
                        <div>
                            <!-- Actions -->
                            <div class="mt-4 sm:mt-0">
                                <!-- Upload button -->
                                <button mat-flat-button [color]="'primary'"
                                onclick="document.getElementById('txtfileupload').click()"
                                [disabled]="butdisabled">
                                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                                    <span class="ml-1 mr-0">Upload file</span>

                                </button>
                                <span class="ml-1 mr-0">{{name}}</span>
                                <!-- <div class="flex" style="margin-top: 10%;" *ngIf="imageSrc">
                                    <img style="width: 30%;  border: 1px solid #555"
                                        [src]="imageSrc || 'http://placehold.it/180'" alt="your image">
                                </div> -->


                                <input type='file' class="form-control" accept=".jpg, .png, .jpeg " 
                                id="txtfileupload"  name="fileupload" (change)="onSelectFile($event.target.files)" style="display:none">
                            </div>

                            <!-- <div class="col-sm-4"> -->

                            <!-- </div> -->
                            <!-- <input
                                    id="avatar-file-input"
                                    class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                    type="file"
                                    [multiple]="false"
                                    [accept]="'image/jpeg, image/png'"
                                    (change)="onSelectFile($event.target.files)"
                                    #avatarFileInput> -->
                            <!-- <label
                                    class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                                    for="avatar-file-input"
                                    matRipple>
                                    <mat-icon
                                        class="text-white"
                                        [svgIcon]="'heroicons_outline:camera'"></mat-icon>
                                </label> -->
                        </div>
                            <!-- <div>
                                <button
                                    mat-icon-button
                                    (click)="removeAvatar()">
                                    <mat-icon
                                        class="text-white"
                                        [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                </button>
                            </div> -->
                            <!-- </div> -->
                    </div>
                    <div class="flex" style="margin-top: 10%;" *ngIf="ImageURL">
                    <img style="width: 30%;  border: 1px solid #555" src="{{ImageURL}}">
                    </div>
                        <!-- Active Toggle -->
                        <!-- <div class="flex">
                        <div class="space-y-4">
                            <ng-container>
                                <div class="flex">
                                    <div class="fuse-mat-no-subscript flex-auto">
                                        <mat-slide-toggle class="mt-8 sm:mt-0 sm:ml-auto" [color]="'primary'"
                                        id="userchkactive" [formControlName]="'isActive'" (change)="toggleCompleted($event)" [checked]="true">
                                            IsActive
                                        </mat-slide-toggle>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div> -->
                      
                        <div class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
                           <!-- Cancel -->
                            <button class="ml-auto" mat-button [matTooltip]="'Cancel'" (click)="cancel()">
                                Cancel
                            </button>
                            <!--Save-->
                            <button
                                class="px-6 ml-3"
                                mat-flat-button
                                [color]="'primary'" (click)="Updatetechnology()" [disabled]="butdisabled">
                                Update
                            </button>
                        </div>
                </form>
            </div>
        </div>

    </ng-container>
</div>