<div class="flex flex-col w-full">
    <ng-container>
        <div class="relative flex flex-col flex-auto items-center px-6 sm:px-12">
            <div class="w-full max-w-5xl">

                <form [formGroup]="ConfigurationForm" class="flex flex-col mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden">


                    <div class="flex">
                        <mat-form-field class="flex-auto">
                            <mat-label>Google Map Url</mat-label>
                            <input matInput appAutofocus [formControlName]="'googleMapUrl'" [placeholder]="'Google Map Url'">
                            <!-- <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user'"></mat-icon> -->
                        </mat-form-field>
                    </div>

                    <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type" [@shake]="alert.type === 'success'">
                        {{alert.message}}
                    </fuse-alert>

                    <div class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
                        <!-- Cancel -->
                        <button class="ml-auto" mat-flat-button [color]="'primary'" [matTooltip]="'Cancel'" (click)="cancel()">
                            Cancel
                        </button>
                        <!--Save-->
                        <button class="px-6 ml-3" *ngIf="save" mat-flat-button [color]="'primary'" (click)="Save()">
                            Save
                        </button>
                        <button class="px-6 ml-3" *ngIf="update" mat-flat-button [color]="'primary'" (click)="Update()">
                            Update
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </ng-container>
</div>