<div class="flex flex-col flex-auto w-full h-40">

    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-8 md:p-4">


        <div class="grid grid-cols-1 xl:grid-cols-2 gap-8 w-full h-50  mt-8 ">

            <div class="grid gap-8 sm:grid-flow-col xl:grid-flow-row">
                <!-- Previous statement -->
                <div class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card rounded-2xl shadow overflow-hidden" (click)="configuration()">
                    <div class="absolute bottom-0 right-0 w-24 h-24 -m-6">
                        <mat-icon class="icon-size-24 opacity-30 text-green-600 dark:text-green-400" [svgIcon]="'heroicons_outline:check-circle'"></mat-icon>
                    </div>
                    <div class="flex items-center">
                        <div class="p-5">
                            <mat-icon class="icon-display">donut_small</mat-icon>
                        </div>
                        <div class="flex flex-col">

                            <!-- <mat-icon class="icon-size-24 opacity-25 text-green-500 dark:text-green-400" svgIcon="check-circle"></mat-icon> -->

                            <div class="text-lg font-medium tracking-tight leading-6 truncate">Invoice Format</div>
                            <!-- <div class="text-green-600 font-medium text-sm">
                                    Paid on
                                 </div> -->
                        </div>

                    </div>


                </div>
                <!-- Current statement -->
                <div class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card rounded-2xl shadow overflow-hidden" (click)="dashboardbanner()">
                    <div class="absolute bottom-0 right-0 w-24 h-24 -m-6">
                        <mat-icon class="icon-size-24 opacity-30 text-green-600 dark:text-green-400" [svgIcon]="'heroicons_outline:check-circle'"></mat-icon>
                    </div>
                    <div class="flex items-center">
                        <!-- (click)="dashboardbanner()" -->
                        <div class="p-5">
                            <mat-icon class="icon-display">horizontal_split</mat-icon>
                        </div>
                        <div class="flex flex-col">
                            <div class="text-lg font-medium tracking-tight leading-6 truncate">Dashboard Banner</div>
                            <!-- <div class="text-red-600 font-medium text-sm">
                        Must be paid before
                    </div> -->
                        </div>
                    </div>

                </div>

            </div>
            <!-- <div class=""> -->
            <div class="grid gap-8 sm:grid-flow-col xl:grid-flow-row">

                <!-- <div class="grid gap-8 sm:grid-flow-col xl:grid-flow-row"> -->
                <!-- Previous statement -->
                <div class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card rounded-2xl shadow overflow-hidden" (click)="termsandpolicy()">
                    <div class="absolute bottom-0 right-0 w-24 h-24 -m-6">
                        <mat-icon class="icon-size-24 opacity-30 text-green-600 dark:text-green-400" [svgIcon]="'heroicons_outline:check-circle'"></mat-icon>
                    </div>
                    <div class="flex items-center">

                        <div class="p-5">
                            <mat-icon class="icon-display">label</mat-icon>
                        </div>
                        <div class="flex flex-col">


                            <div class="text-lg font-medium tracking-tight leading-6 truncate">Terms and Policy</div>


                        </div>

                    </div>


                </div>

                <div class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card rounded-2xl shadow overflow-hidden" (click)="companydetails()">
                    <div class="absolute bottom-0 right-0 w-24 h-24 -m-6">
                        <mat-icon class="icon-size-24 opacity-30 text-green-600 dark:text-green-400" [svgIcon]="'heroicons_outline:check-circle'"></mat-icon>
                    </div>
                    <div class="flex items-center">
                        <div class="p-5">
                            <mat-icon class="icon-display">account_circle</mat-icon>
                        </div>
                        <div class="flex flex-col">

                            <!-- <mat-icon class="icon-size-24 opacity-25 text-green-500 dark:text-green-400" svgIcon="check-circle"></mat-icon> -->

                            <div class="text-lg font-medium tracking-tight leading-6 truncate">Company Details</div>

                        </div>

                    </div>


                </div>
                <!-- </div> -->

            </div>

            <div class="grid gap-8 sm:grid-flow-col xl:grid-flow-row">

                <!-- <div class="grid gap-8 sm:grid-flow-col xl:grid-flow-row"> -->
                <div class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card rounded-2xl shadow overflow-hidden" (click)="emailsetttings()">
                    <div class="absolute bottom-0 right-0 w-24 h-24 -m-6">
                        <mat-icon class="icon-size-24 opacity-30 text-green-600 dark:text-green-400" [svgIcon]="'heroicons_outline:check-circle'"></mat-icon>
                    </div>
                    <div class="flex items-center" icon>
                        <div class="p-5">
                            <mat-icon class="icon-display">settings</mat-icon>
                        </div>
                        <div class="flex flex-col">


                            <div class="text-lg font-medium tracking-tight leading-6 truncate">Email Settings</div>

                        </div>

                    </div>


                </div>

                <!-- </div> -->

                <div class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card rounded-2xl shadow overflow-hidden" (click)="googlemapurl()">
                    <!-- [style.visibility]="'hidden'" -->
                    <div class="absolute bottom-0 right-0 w-24 h-24 -m-6">
                        <mat-icon class="icon-size-24 opacity-30 text-green-600 dark:text-green-400" [svgIcon]="'heroicons_outline:check-circle'"></mat-icon>
                    </div>
                    <div class="flex items-center" icon>
                        <div class="p-5">
                            <mat-icon class="icon-display">donut_small</mat-icon>
                        </div>
                        <div class="flex flex-col">


                            <div class="text-lg font-medium tracking-tight leading-6 truncate">Google Map Url</div>

                        </div>

                    </div>


                </div>

            </div>

        </div>


    </div>

</div>




<!-- <div class="flex flex-col flex-auto w-full h-24">

    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-20 md:p-8">


        <div class="grid grid-cols-1 xl:grid-cols-2 gap-8 w-full h-40  mt-8 ">

            <div class="grid gap-8 sm:grid-flow-col xl:grid-flow-row">
               
                <div class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card rounded-2xl shadow overflow-hidden">
                    <div class="absolute bottom-0 right-0 w-24 h-24 -m-6">
                        <mat-icon class="icon-size-24 opacity-30 text-green-600 dark:text-green-400" [svgIcon]="'heroicons_outline:check-circle'"></mat-icon>
                    </div>
                    <div class="flex items-center" (click)="companydetails()" icon>
                        <div class="p-5">
                            <mat-icon class="icon-display">donut_small</mat-icon>
                        </div>
                        <div class="flex flex-col">

                           

                            <div class="text-lg font-medium tracking-tight leading-6 truncate">companydatails</div>
                          
                        </div>

                    </div>


                </div>




            </div>
        </div>
    </div>
</div> -->