.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

  table{
    width: 100%;
   }
   
   .mat-column-sno {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 10% !important;
     width: 10% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }

   .mat-column-sorting {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width:10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-chapter {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 60% !important;
    width:60% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  // .mat-column-VideoFile {
  //   word-wrap: break-word !important;
  //   white-space: unset !important;
  //   flex: 0 0 24% !important;
  //   width:24% !important;
  //   overflow-wrap: break-word;
  //   word-wrap: break-word;
  
  //   word-break: break-word;
  
  //   -ms-hyphens: auto;
  //   -moz-hyphens: auto;
  //   -webkit-hyphens: auto;
  //   hyphens: auto;
  // }

  // .mat-column-preview {
  //   word-wrap: break-word !important;
  //   white-space: unset !important;
  //   flex: 0 0 25% !important;
  //   width:25% !important;
  //   overflow-wrap: break-word;
  //   word-wrap: break-word;
  
  //   word-break: break-word;
  
  //   -ms-hyphens: auto;
  //   -moz-hyphens: auto;
  //   -webkit-hyphens: auto;
  //   hyphens: auto;
  // }

  .mat-column-actions {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 20% !important;
    width:20% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  // .inventory-grid {
  //               grid-template-columns: 48px auto 40px;
    
  //               @screen sm {
  //                   grid-template-columns: 48px auto 112px 72px;
  //               }
    
  //               @screen md {
  //                   grid-template-columns: 48px 112px auto 112px 72px;
  //               }
    
  //               @screen lg {
  //                   grid-template-columns: 48px 112px auto 112px 96px 96px 72px;
  //               }
  //           }
    
  