<div class="flex flex-col w-full">
    <ng-container>
        <div class="relative flex flex-col flex-auto items-center px-6 sm:px-12">
            <div class="w-full max-w-5xl">

                <form [formGroup]="ConfigurationForm" class="flex flex-col mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden">


                    <div class="flex">
                        <mat-form-field class="flex-auto">
                            <mat-label>From Email</mat-label>
                            <input matInput appAutofocus [formControlName]="'sender'" [placeholder]="'Sender'">
                            <!-- <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user'"></mat-icon> -->
                        </mat-form-field>
                    </div>

                    <div class="flex">
                        <mat-form-field class="flex-auto">
                            <mat-label>SMTP</mat-label>
                            <input matInput appAutofocus [formControlName]="'subject'" [placeholder]="'Subject'">
                            <!-- <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user'"></mat-icon> -->
                        </mat-form-field>
                    </div>

                    <div class="flex">
                        <mat-form-field class="flex-auto">
                            <mat-label>PortNo</mat-label>
                            <input matInput appAutofocus [formControlName]="'portNo'" [placeholder]="'PortNo'">
                            <!-- <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user'"></mat-icon> -->
                        </mat-form-field>
                    </div>


                    <div class="flex">
                        <mat-form-field class="flex-auto">
                            <mat-label> SMTP User</mat-label>
                            <input matInput appAutofocus [formControlName]="'user'" [placeholder]="'User'">
                            <!-- <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user'"></mat-icon> -->
                        </mat-form-field>
                    </div>
                    <div class="flex">
                        <mat-form-field class="flex-auto">
                            <mat-label>SMTP Password</mat-label>
                            <input matInput appAutofocus [formControlName]="'password'" [placeholder]="'Password'">
                            <!-- <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user'"></mat-icon> -->
                        </mat-form-field>
                    </div>

                    <div class="flex">
                        <mat-form-field class="flex-auto">
                            <mat-label>Email DisplayName</mat-label>
                            <input matInput appAutofocus [formControlName]="'displayName'" [placeholder]="'DisplayName'">
                            <!-- <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user'"></mat-icon> -->
                        </mat-form-field>

                    </div>

                    <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type" [@shake]="alert.type === 'success'">
                        {{alert.message}}
                    </fuse-alert>
                    <div class="flex">
                        <mat-checkbox labelPosition="before" [checked]="smtpSsl" (change)="onwebsite($event.checked)">SMTP SSL &nbsp; &nbsp;
                        </mat-checkbox>
                        <!-- <mat-checkbox labelPosition="before"  class="mt-8 mb-4  mr-200 sm:mt-0 sm:ml-auto" [color]="'primary'" id="showOnWebsite" [(ngModel)]="smtpSsl" (change)="onwebsite($event)" [checked]="false">
                                SMTP SSL  &nbsp;  &nbsp;
                         </mat-checkbox> -->
                    </div>

                    <div class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
                        <!-- Cancel -->
                        <button class="ml-auto" mat-flat-button [color]="'primary'" [matTooltip]="'Cancel'" (click)="cancel()">
                            Cancel
                        </button>
                        <!--Save-->
                        <button class="px-6 ml-3" mat-flat-button [color]="'primary'" *ngIf="save" (click)="Save()">
                            Save
                        </button>
                        <!---Update-->
                        <button class="px-6 ml-3" mat-flat-button [color]="'primary'" *ngIf="update" (click)="Update()">
                            Update
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </ng-container>
</div>